
  .health-info{
      background-color: #dee2e6;
      border-radius:7px;
      margin:42px;
      padding: 20px 100px 20px 100px;  
      font-family: 'Montserrat-regular';
      font-size: 14px;
      margin-left: 20%;
      margin-right: 20%;
      
      
    }

.mbt-1{
    margin-bottom:0.5rem;
}
.mbt-2{
    margin-bottom: 2rem;
}
.mrt-1{
    margin-right:1rem;
}
.mtp-1{
    margin-top:1rem;
}
.mtp-2{
    margin-top:2rem;
}
.phc-technician{
    margin-bottom:2rem;
    margin-top:2rem;
    font-family: 'Montserrat-semibold';
}
/* .account-first-section{
    margin-bottom:1rem;
} */

/* patient-history */
.paddingRow{
    padding: 11px;
}
.clsPlacement{
    margin-top: 25px;
    width: 100%;
    height: 29px;
    margin-left: 20%;
}
.spmheader{
    font-size: 17px;
}
.headersize{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px; 
}
.lbltextsize{
    font-size: 16px;
  }
