<mat-form-field class="example-chip-list" appearance="fill">
    <mat-chip-list #chipList aria-label="observation selection">
      <mat-chip *ngFor="let observation of observations ;" (removed)="remove(observation)">
       <ol type="1">
           <li>{{observation.name}}</li>
       </ol> 
        <button matChipRemove class="chip-remove">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input class="input-auto" placeholder="Start typing..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>