.adminNavSecWrap :ng-deep table {
    width: 100% !important;
}
  
.adminMisWrap table{
    width: 100%;
}

.adminMisWrap table th{
    font-size: 14px;
    background-color: #f5f5fa;
    color: #333333;
}

.adminMisWrap table{
    border: 1px solid #3d596d ;
}

.adminMisWrap table th{
    border: 1px solid #3d596d ;
}

.adminMisWrap table td{
    color: #004179;
}

.adminMisWrap p{
    font-weight: 500;
}

.adminMisWrap .medtechadmindate{
    font-size: 14px;
    color: #004179;
}
