<app-admin-header></app-admin-header>
<div> 
    <form [formGroup]="spokeMaintenance" autocomplete="off"> 
        <div class="clsPlacement">
            <h2 class="headersize">Spoke Maintenance</h2>
        </div>
        <div class="health-info">
            <div class="account-first-section">
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>District</label>
                    </div>
                    <div class="col-md-3 calwidth">
                        <div>
                            <select  class="form-control" id="exampleFormControlInput1" formControlName="district">
                                <!-- <option value="0">Select District</option> -->
                                
                                <option *ngFor="let c of ListDistrict" [ngValue]="c.id">{{ c.districtName }}</option>
                            </select>
                        </div>
                        <div *ngIf="spokeMaintenance.controls['district'].invalid && spokeMaintenance.controls['district'].touched"
                            class="error text-danger small">
                            <div *ngIf="spokeMaintenance.controls['district'].errors">
                                District required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>Block</label>
                    </div>
                    <div class="col-md-3 calwidth">
                        <div>
                            <select  class="form-control" id="exampleFormControlInput1" formControlName="Block">
                                <!-- <option value="0">Select Block</option> -->
                                
                                <option *ngFor="let c of ListBlock" [ngValue]="c.id">{{ c.blockName }}</option>
                            </select>
                        </div>
                        <div *ngIf="spokeMaintenance.controls['Block'].invalid && spokeMaintenance.controls['Block'].touched"
                            class="error text-danger small">
                            <div *ngIf="spokeMaintenance.controls['Block'].errors">
                                Block required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>PHC Name</label>
                    </div>
                    <div class="col-md-3 calwidth">
                        <div>
                            <select  class="form-control" id="exampleFormControlInput1" formControlName="selectPHC" (change)="onOptionsSelected($event)">
                                <!-- <option value="0">Select PHC</option> -->
                                <option *ngFor="let c of ListOfPHC" [ngValue]="c.id">{{ c.phcName }}</option>
                            </select>
                        </div>
                        <div *ngIf="spokeMaintenance.controls['selectPHC'].invalid && spokeMaintenance.controls['selectPHC'].touched"
                            class="error text-danger small">
                            <div *ngIf="spokeMaintenance.controls['selectPHC'].errors">
                                PHC Name required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>Maintenance Date</label>
                    </div>
                    <div class="col-md-3 calwidth">
                        <div>
                            <input type="date" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Training Date" formControlName="maitenacedate">
                        </div>
                        <div *ngIf="spokeMaintenance.controls['maitenacedate'].invalid && spokeMaintenance.controls['maitenacedate'].touched"
                            class="error text-danger small">
                            <div *ngIf="spokeMaintenance.controls['maitenacedate'].errors">
                                Maintenance Date required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowgap">
                    <div class="col-md-3">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>Name Of the M.Q.</label>
                    </div>
                    <div class="col-md-3">
                        <label for="" class="lbltextsize" formControlName="selectMQ"><span></span>{{moname}}</label>
                    </div>
                </div>
                <div class="row rowgap">
                    <div class="col-md-2">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>PHC Name</label>
                    </div>
                    <div class="col-md-3">
                        <label for="" class="lbltextsize" formControlName="selectPHCName">{{selectPHCName}}</label>
                    </div>
                </div>
                <div class="row rowgap">
                    <div class="form-group">
                        <label for="file-input" style="display: none">
                            <!-- <img style="width:160px;" [src]="DoctorImagePath" *ngIf="DoctorImagePath"
                                alt=""> -->
                            <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="width:160px;;" class="avatar"> -->
                        </label>

                        <input id="file-input" type="file" accept="document*" (change)="onFileChange($event)"
                            #fileInput formControlName="docname" />
                    </div>
                    <div *ngIf="spokeMaintenance.controls['docname'].invalid && spokeMaintenance.controls['docname'].touched"
                            class="error text-danger small">
                            <div *ngIf="spokeMaintenance.controls['docname'].errors">
                                Document required
                            </div>
                        </div>
                    <div *ngIf="isShown" class="divarea">

                    </div>
                </div>
            </div>
            <!-- <div style="width: 50%;">
                <div>this is document content</div>
            </div> -->
            <div class="row rowgap">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-1">
                    <div class="set-web-service">
                        <button class="btn bg-purple register-capt" (click)="savescopemaintenance()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>