<div>
    <form [formGroup]="resetpassword" autocomplete="off">

        <div class="health-info" style="height: 480px;">
            <div class="clsPlacement">
                <h2 class="headersize">Reset Password</h2>
            </div>
            <div class="top">

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3" style="text-align-last:right;align-self: center;">
                        <label for="" class="lbltextsize"><span class="text-danger">*</span>Enter Email ID:</label>
                    </div>

                    <div class="col-md-4">
                        <div>

                            <input type="text" class="form-control" id="exampleFormControlInput1" name="email"
                                autocomplete="password" placeholder="Enter Email Id" #stateInput formControlName="email"
                                maxlength="50" oninput="this.value = this.value.replace('  ',' ')" required>


                            <div *ngIf="resetpassword.controls['email'].invalid && resetpassword.controls['email'].touched"
                                class="error text-danger small">
                                <div *ngIf="resetpassword.controls['email'].errors">
                                    Email is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="text-align-last: center;">
                        <button type="submit" class="btn bg-purple register-capt" (click)="getdetail(stateInput.value)">Get
                            Detail</button>
                    </div>
                </div>
                <div class="row" *ngIf="hidden">
                    <div class="col-md-1"></div>
                    <div class="col-md-3" style="text-align-last:right; align-self: center;">
                        <label for="" class="lbltextsize">Name:</label>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Name" #stateInput formControlName="name" maxlength="50"
                                oninput="this.value = this.value.replace('  ',' ')" readonly>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="hidden">
                    <div class="col-md-1"></div>
                    <div class="col-md-3" style="text-align-last:right;align-self: center;">
                        <label for="" class="lbltextsize">UserType:</label>
                    </div>
                    <div class="col-md-4 ">
                        <div>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter UserType" #stateInput formControlName="usertype" maxlength="50"
                                oninput="this.value = this.value.replace('  ',' ')" readonly>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="hidden">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 ">
                        <div>
                            <button class="btn bg-purple register-capt" (click)="reset()">Reset</button>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </form>
</div>
<ngx-loading [show]="loading" [config]="{
      animationType: ngxLoadingAnimationTypes.rectangleBounce,
      backdropBackgroundColour: 'rgba(255,255,255,0.3)',
      backdropBorderRadius: '10px',
      primaryColour: '#ff9900',
      secondaryColour: '#ff9900',
      tertiaryColour: '#009900',
      fullScreenBackdrop: true
    }"></ngx-loading>