<app-admin-header></app-admin-header>

<section class="adminMisWrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <p class="mb-0"> MedTech Completed Consultations Progress Chart </p>
        <p class="medtechadmindate"> 4 October 2021 - 21 March 2022 </p>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-8 text-center mt-5 mb-5">

      <!-- <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
      </div>
       -->
        <!-- <div class="chart-wrapper">
          <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
      </div> -->
      </div>

    </div>
  </div>
</section>