
<section class="chc-center-section">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3 sidebar fixed" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <div class="sidebar-heading-div">
                <h3 class="sidebar-heading"></h3>
            </div>

            <button class="nav-link active" [routerLink]="['/PHC-Registration']" id="v-pills-phc-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-phc" type="button" role="tab" aria-controls="v-pills-phc"
                aria-selected="true">PHC Registration</button>
            <button class="nav-link" [routerLink]="['/Doctor-Registration']" id="v-pills-Doctor-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-Doctor" type="button" role="tab"
                aria-controls="v-pills-Doctor" aria-selected="false">Doctor
                Registration</button>
            <button class="nav-link" [routerLink]="['/Patient-Queue-Management']" id="v-pills-Patient-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-Patient" type="button" role="tab"
                aria-controls="v-pills-Patient" aria-selected="false">Patient queue
                management</button>


            <button class="nav-link" [routerLink]="['/Holiday-Calendar']" id="v-pills-holiday-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-holiday" type="button" role="tab" aria-controls="v-pills-holiday"
                aria-selected="false">Holiday Calendar</button>
            <button class="nav-link" [routerLink]="['/Spoke-MAintenance']" id="v-pills-spoke-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-spoke" type="button" role="tab" aria-controls="v-pills-spoke"
                aria-selected="false">Spoke Maintenance</button>
            <button class="nav-link" [routerLink]="['/Employee-Training']" id="v-pills-employee-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-employee" type="button" role="tab"
                aria-controls="v-pills-employee" aria-selected="false">Employee training
            </button>
            <button class="nav-link" [routerLink]="['/System-Health']" id="v-pills-system-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-system" type="button" role="tab" aria-controls="v-pills-system"
                aria-selected="false">System health</button>
            <div class="product-wrapper">
                <div class="product-card">
                    <div>
                        <button class="btn width-btn">logout</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content mid-content" id="v-pills-tabContent">


            </div>
            </div>
            </section>
