<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="example-container">
          <form [formGroup]="doctorForm" autocomplete="off">
          <div class="mdMedgnrlMdcnWrp">
            <span>{{this.ReportName}}</span>
            <label>From</label> :
            <mat-form-field class="" >
              <input matInput [matDatepicker]="picker"  class="Datecls" [max]="today" formControlName="fromdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
            <label>To</label> :
            <mat-form-field class="" >
              <input matInput [matDatepicker]="pickerto" class="Datecls"  [max]="today" formControlName="todate">
              <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
              <mat-datepicker #pickerto ></mat-datepicker>
            </mat-form-field>
            <!-- <label>From</label> : <input type="date" formControlName="fromdate">
            <label>To</label> : <input type="date" formControlName="todate"> -->
            <input type="button" value="Search" (click)="submitdetails()" >
          </div>
          <div *ngIf="ShowErrorMessage" class='alert alert-danger'>
            {{ValidationMessage}}
            </div>
        
        </form>
          <div class="mat-elevation-z8 mt-3">
            <form style="display:inline" class="form-group" [formGroup]="formControl" autocomplete="off">
              <!-- <mat-form-field class="mx-1">
                <input matInput class="form-control" formControlName="srNo" type="number" min="0">
                <mat-placeholder>SL No.</mat-placeholder>
              </mat-form-field> -->
              <mat-form-field class="mx-1">
                <input matInput formControlName="specialization">
                <mat-placeholder>Specialization</mat-placeholder>
              </mat-form-field>
              <mat-form-field class="mx-1">
                <input matInput formControlName="doctor">
                <mat-placeholder>Doctor</mat-placeholder>
              </mat-form-field> 
              
              
              <div>
                <a routerLink="/main-dashboard" class="fa-pull-right"><button class="btn btn-danger pull-right" > <fa-icon [icon]="faClose"></fa-icon></button></a>
                <button  type="button" class="fa-pull-right btn btn-secondary" (click)="downloadPdf()"><fa-icon [icon]="faFilePdf"></fa-icon></button>
                <button  type="button" class="fa-pull-right btn btn-secondary" (click)="Download('Excel')"><fa-icon [icon]="faFileExcel"></fa-icon></button>
              </div>
            </form>
            <Div id="content" #content> 


            <!-- <table mat-table [dataSource]="dataSource"> -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort   matSortDisableClear
               matSortDirection="desc" >
              <!-- Position Column -->
              <ng-container matColumnDef="srNo">
                <th  mat-header-cell *matHeaderCellDef mat-sort-header> SL No.  </th>
                <td  mat-cell *matCellDef="let element"> {{element.srNo}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="specialization">
                <th  mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
                <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
                <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
              </ng-container>

              <ng-container matColumnDef="hub">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> HUB </th>
                <td mat-cell *matCellDef="let element"> {{element?.hub}} </td>
              </ng-container>
              <ng-container matColumnDef="qualification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualification </th>
                <td mat-cell *matCellDef="let element"> {{element?.qualification}} </td>
              </ng-container>


              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{datepipe.transform(element.date, 'dd-MMM-yyyy') }} </td>
              </ng-container>
              <ng-container matColumnDef="approval-date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Approval Date </th>
                <td mat-cell *matCellDef="let element"> {{element.approvaldate | date: 'dd-MM-yyyy h:mm:ss a'}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="logedInTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Time </th>
                <td mat-cell *matCellDef="let element"> {{datepipe.transform(element.logedInTime, 'h:mm a') }} </td>
              </ng-container>
              <ng-container matColumnDef="netLogIntime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Login Time (h:h)</th>
                <td mat-cell *matCellDef="let element"> {{element.netLoginTimeInHours}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="firstConsultTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Consult Time </th>
                <td mat-cell *matCellDef="let element"> {{datepipe.transform(element.firstConsultTime, 'h:mm a') }} </td>
              </ng-container>
              <ng-container matColumnDef="lastConsultTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  Last Consult Time </th>
                <td mat-cell *matCellDef="let element"> {{datepipe.transform(element.lastConsultTime, 'h:mm a') }} </td>
              </ng-container>
              <ng-container matColumnDef="AverageConsultationTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  Average Consultation Time (h:m:s) </th>
                <td mat-cell *matCellDef="let element">{{element.averageConsultation}}</td>
              </ng-container>
              <ng-container matColumnDef="logedoutTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Logout Time </th>
                <td mat-cell *matCellDef="let element"> {{datepipe.transform(element.logedoutTime, 'h:mm a') }} </td>
              </ng-container>
              <ng-container matColumnDef="noOfConsultation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of Consultation </th>
                <td mat-cell *matCellDef="let element"> {{element.noOfConsultation}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
            </table>
            <div *ngIf="dataSource.data?.length === 0" class="text-center mx-2 my-3">No records found</div>
         
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
          </Div>
          </div>

        </div>

      </div>

    </div>

  </div>


</div>

<ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce,
  backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
  primaryColour: '#ff9900', secondaryColour: '#ff9900', tertiaryColour: '#009900',fullScreenBackdrop:true  }"></ngx-loading>
