.patient-queue-header{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f3f3f3;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
  }
  .patient-queue-header .patient-header{
    padding: 10px;
    background-color: #d4c9c9;
    border-radius: 5px;
  }
  .patient-header .patient-head{
    margin-right:10px;

  }
  .patient-header input{
    margin-right:10px;

  }
  .searchPhc{
    border: unset;
    padding: 5px;
    border-radius: 5px;
  }

  .searchpatient{
    border: unset;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
 
  .searchid{
    border: unset;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
  .searchname{
    border: unset;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
  .searchcase{
    border: unset;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
  .searchspeciality{
    border: unset;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
 
  .mdMedgnrlMdcnWrp .Datecls{
    border: 1px solid #d3d9de;
    padding: 3px 10px; border-radius: 4px;

 display: flex;   
}

